<div>
  <h1>{{ title }}</h1>
  <p>Welcome to {{ title }}</p>
  <label>Name Your Favorite Color:</label><br/>
  <input type="text" ng-model="colorValue" placeholder="Select Your Color!"><br/>
  <input type="text" ng-model="colorName" placeholder="Name Your Color!"><br/>
  <hr>
  <h1>{{colorName}} : {{colorValue}}</h1>
  <button ng-click='submitColor()'>Name Your Color!</button>
	<hr>
	<div>
		<div ng-repeat='color in colors' style='width:100px;height:100px;background-color:#{{color.color}};float:left'>
			<span>{{ color.name }}</span>
		</div>
	</div>
	<div>
		<button ng-click='previousPage()' ng-disabled='{{disabled}}'>Previous</button>
		<button ng-click='nextPage()' ng-disabled='{{disabled}}'>Next</button>
	</div>
</div>
